body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.521);
  background-image: linear-gradient(135deg,
      rgb(79, 24, 115) 0%,
      rgb(40, 214, 230) 100%) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,
      rgb(79, 24, 115) 0%,
      rgb(40, 214, 230) 100%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/